.tw-relative {
  position: relative !important
}

.tw-z-10 {
  z-index: 10 !important
}

.tw-m-0 {
  margin: 0px !important
}

.tw-my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important
}

.tw-mb-1 {
  margin-bottom: 0.25rem !important
}

.tw-mb-3 {
  margin-bottom: 0.75rem !important
}

.tw-ml-3 {
  margin-left: 0.75rem !important
}

.tw-mr-2 {
  margin-right: 0.5rem !important
}

.tw-mt-2 {
  margin-top: 0.5rem !important
}

.tw-mt-3 {
  margin-top: 0.75rem !important
}

.tw-mt-4 {
  margin-top: 1rem !important
}

.tw-ml-6 {
  margin-left: 1.5rem !important
}

.tw-mt-0\.5 {
  margin-top: 0.125rem !important
}

.tw-block {
  display: block !important
}

.tw-flex {
  display: flex !important
}

.tw-h-0\.5 {
  height: 0.125rem !important
}

.tw-h-10 {
  height: 2.5rem !important
}

.tw-h-2 {
  height: 0.5rem !important
}

.tw-h-4 {
  height: 1rem !important
}

.tw-h-6 {
  height: 1.5rem !important
}

.tw-h-\[calc\(100vh-200px\)\] {
  height: calc(100vh - 200px) !important
}

.tw-h-full {
  height: 100% !important
}

.tw-min-h-0 {
  min-height: 0px !important
}

.tw-min-h-\[100px\] {
  min-height: 100px !important
}

.tw-w-10 {
  width: 2.5rem !important
}

.tw-w-2 {
  width: 0.5rem !important
}

.tw-w-4 {
  width: 1rem !important
}

.tw-w-6 {
  width: 1.5rem !important
}

.tw-w-full {
  width: 100% !important
}

.tw-flex-1 {
  flex: 1 1 0% !important
}

.tw-flex-shrink-0 {
  flex-shrink: 0 !important
}

.tw-flex-grow {
  flex-grow: 1 !important
}

.tw-cursor-pointer {
  cursor: pointer !important
}

.tw-flex-col {
  flex-direction: column !important
}

.tw-items-start {
  align-items: flex-start !important
}

.tw-items-end {
  align-items: flex-end !important
}

.tw-items-center {
  align-items: center !important
}

.tw-items-stretch {
  align-items: stretch !important
}

.tw-justify-center {
  justify-content: center !important
}

.tw-justify-between {
  justify-content: space-between !important
}

.tw-gap-1 {
  gap: 0.25rem !important
}

.tw-gap-2 {
  gap: 0.5rem !important
}

.tw-gap-4 {
  gap: 1rem !important
}

.tw-space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0 !important;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse)) !important;
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse))) !important
}

.tw-space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse))) !important;
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse)) !important
}

.tw-space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse))) !important;
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse)) !important
}

.tw-space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse))) !important;
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse)) !important
}

.tw-overflow-auto {
  overflow: auto !important
}

.tw-overflow-hidden {
  overflow: hidden !important
}

.tw-overflow-visible {
  overflow: visible !important
}

.tw-overflow-x-auto {
  overflow-x: auto !important
}

.tw-rounded {
  border-radius: 0.25rem !important
}

.tw-rounded-full {
  border-radius: 9999px !important
}

.tw-rounded-lg {
  border-radius: 0.5rem !important
}

.tw-border {
  border-width: 1px !important
}

.tw-border-t {
  border-top-width: 1px !important
}

.tw-border-none {
  border-style: none !important
}

.tw-border-gray-200 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1)) !important
}

.tw-bg-\[\#e8f3ff\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(232 243 255 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-blue-400 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-blue-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-gray-200 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-gray-300 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-gray-400 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-gray-50 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-green-400 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(74 222 128 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-green-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-orange-400 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(251 146 60 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-orange-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(249 115 22 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-red-400 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-red-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-transparent {
  background-color: transparent !important
}

.tw-bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-gray-100 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1)) !important
}

.tw-p-1 {
  padding: 0.25rem !important
}

.tw-p-2 {
  padding: 0.5rem !important
}

.tw-p-3 {
  padding: 0.75rem !important
}

.tw-px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important
}

.tw-py-0\.5 {
  padding-top: 0.125rem !important;
  padding-bottom: 0.125rem !important
}

.tw-py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important
}

.tw-py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important
}

.tw-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}

.tw-pr-4 {
  padding-right: 1rem !important
}

.tw-pt-3 {
  padding-top: 0.75rem !important
}

.tw-text-left {
  text-align: left !important
}

.tw-text-center {
  text-align: center !important
}

.tw-text-right {
  text-align: right !important
}

.tw-text-\[12px\] {
  font-size: 12px !important
}

.tw-text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important
}

.tw-text-xl {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important
}

.tw-text-xs {
  font-size: 0.75rem !important;
  line-height: 1rem !important
}

.tw-font-bold {
  font-weight: 700 !important
}

.tw-font-medium {
  font-weight: 500 !important
}

.tw-font-semibold {
  font-weight: 600 !important
}

.tw-leading-5 {
  line-height: 1.25rem !important
}

.tw-text-blue-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(29 78 216 / var(--tw-text-opacity, 1)) !important
}

.tw-text-gray-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1)) !important
}

.tw-text-gray-600 {
  --tw-text-opacity: 1 !important;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1)) !important
}

.tw-text-gray-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1)) !important
}

.tw-text-green-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(21 128 61 / var(--tw-text-opacity, 1)) !important
}

.tw-text-orange-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(194 65 12 / var(--tw-text-opacity, 1)) !important
}

.tw-text-red-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(185 28 28 / var(--tw-text-opacity, 1)) !important
}

.tw-text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1)) !important
}

.tw-shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}

.\[all\:unset\] {
  all: unset !important
}

.hover\:tw-bg-gray-100:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1)) !important
}

.hover\:tw-bg-gray-300:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1)) !important
}

.hover\:tw-bg-gray-200:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1)) !important
}

.hover\:\[all\:unset\]:hover {
  all: unset !important
}

@media (min-width: 1024px) {
  .lg\:tw-w-\[220px\] {
    width: 220px !important
  }

  .lg\:tw-flex-row {
    flex-direction: row !important
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:\[color-scheme\:dark\] {
    color-scheme: dark !important
  }
}