.form-control[data-fieldtype="Small Text"] {
    min-height: 100px !important;
    height: 100px !important;
}

textarea {
    resize: none !important;
}

@media (max-width: 768px) {
  .modal-content .form-grid-container .form-grid {
    width: 100%;
    min-width: unset;
  }
}
