body .container {
  width: 90%;
  max-width: 100%;
}

body[data-route="modern-menu"] .navbar-title,
body[data-route="modern-menu"] .btn-back {
  display: none !important;
}

.my-navbar {
  background-color: rgb(0, 0, 104);
  padding-block: 2rem;
  border: none;
}

.navbar-home img {
  max-height: 45px;
}

.navbar-title {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.btn-back {
  background: transparent;
  border: none;
  color: white;
  padding: 0;
  font-weight: bold;
  font-size: 1.7rem;
  margin: 0px 15px !important;
}

.btn-log-out {
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.btn-back:hover {
  color: rgba(255, 255, 255, 0.781);
  text-decoration: none;
  box-shadow: none;
}

.fa-bell {
  font-size: 2rem;
  color: white;
}

.avatar-frame,
.dropdown-navbar-user {
  width: 2rem;
  height: 2rem;
}

.hide-side-section {
  display: none !important;
}

.workspace-navbar {
  background-color: #ebebeb;
  border: none;
}

.workspace-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.workspace-wrapper::-webkit-scrollbar {
  display: none;
}

.workspace-block {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.workspace-block:hover,
.workspace-block.active {
  background-color: rgb(255, 255, 255);
}

.workspace-block.active {
  font-weight: bold;
}


/* Responsive */
@media (min-width: 992px) {
  .layout-side-section {
    display: none !important;
  }

  .workspace-navbar {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .workspace-navbar {
    display: none !important;
  }

  .layout-side-section {
    display: block !important;
  }
}

/* Mobile (màn < 768px) */
@media (max-width: 767px) {

  .navbar-brand {
    padding: 0;
    margin-left: 4px;
  }

  .navbar-brand .app-logo {
    max-height: 35px;
  }

  .navbar .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-back {
    padding: 2px 4px;
  }

  .btn-back i {
    font-size: 25px;
  }

  .navbar-title {
    font-size: 18px;
    font-weight: 600;
  }

  .navbar .nav-item .fa-solid,
  .navbar .nav-item .es-icon {
    font-size: 25px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Avatar user */
  .navbar .nav-item .avatar,
  .navbar .nav-item img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}